/* =============================================================================
   MUSIC OF THE SPHERES - Blanca de la Torre Fuertes
   ==========================================================================*/


/*
* {
    cursor: url(../img/sol.png), auto;
}
*/

.particlesbody {
    height: 100% !important;
    width: 100% !important;
    overflow-y: hidden !important;
    padding: 0px !important;
    margin: 0px !important;
}

body, html {
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    overflow-x: hidden;
    font-family: 'Lobster Two', cursive !important;
    font-family: 'Rajdhani', sans-serif !important;
    font-family: 'Poiret One', cursive !important;
    font-family: 'Amatic SC', cursive !important;
}

.barraBasica {
    font-size: 40px !important;
    color: #a9b6c1;
}

li i:hover {
    color: black !important;
}


/************************* MAIN PAGE ***************************/

#mainbody {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url('../img/galaxy.jpg');
    background-repeat: repeat;
}

#mainpanelleft {
    background-image: url('../img/planetas/mercury.jpg');
    float: left;
    display: inline-block;
    margin: -150px 0 0 -600px;
    width: 300px;
    height: 300px;
    padding: 70px;
    padding-top: 60px;
    top: 50% !important;
}

#mainpanelcenter {
    background-image: url('../img/planetas/venus.jpg');
    display: inline-block;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
    padding: 70px;
    padding-top: 60px;
    top: 50% !important;
}

#mainpanelright {
    background-image: url('../img/planetas/moon.jpg');
    float: right;
    display: inline-block;
    margin: -150px 0 300px 290px;
    width: 300px;
    height: 300px;
    padding: 70px;
    padding-top: 60px;
    top: 50% !important;
}

.panel-content {
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    color: white;
    font-size: 50px;
    padding-right: 0px;
    text-shadow: 0px 5px 10px #000000;
}

.main-panel {
    top: 65% !important;
}

.label {
    display: inline-block;
    padding: .1em .4em .1em;
}

#label-mars {
    background-color: #B78837;
}

#label-mercury {
    background-color: #A7C7CC;
}

#collapseperfil{
  margin-left: 10px;
  margin-right: 10px;
  margin-top:10px;
  background-color: rgba(180, 185, 185, 0.99);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index:999;
  position: sticky ;
}

.panel-title{
  text-align: center;
  font-size: 30px;
  color:white;
}

.panel-body{
  padding-top: 0px;

}


/************************* REGISTER PAGE ***************************/

#registerpanel {
    background-image: url('../img/planetas/pluton-planeta.jpg');
    font-size: 20px;
    margin: -200px 0 0 -200px;
    width: 400px;
    height: 400px;
    padding: 100px;
    padding-top: 60px;
    border-radius: 500px;
}

#form-style-register {
    padding-top: 20px;
}

#enlace-login {
    z-index: 100;
    display: block;
    animation: none;
    top: calc(50% + 150px);
    left: calc(50% - 150px);
    padding: 70px;
    padding-top: 60px;
    position: absolute;
    font-size: 25px;
    width: 300px;
    text-align: center;
    color: #8795a0;
    font-weight: bold;
}


/************************* LOG IN PAGE ***************************/

.myModal {
    font-size: 25px;
    margin-top: 10%;
}

.error-button-close {
    width: 30%;
    font-size: unset;
}

.modal-header .close {
    font-size: 40px;
    margin-right: 10px;
}


/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url('../img/galaxy.jpg');
    background-repeat: repeat;
}

.button-form {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    position: initial;
    text-align: center;
    padding: 8px;
    font-size: 16px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.login-form {
    animation-name: rotate;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.form-control {
    font-size: 20px;
}

#enlace-registro {
    z-index: 100;
    display: block;
    animation: none;
    top: calc(50% + 90px);
    left: calc(50% - 150px);
    padding: 70px;
    padding-top: 60px;
    position: absolute;
    font-size: 25px;
    width: 300px;
    text-align: center;
    color: #8795a0;
    font-weight: bold;
}

.panelplanet {
    font-weight: bold;
    font-size: 1.3em;
    position: absolute;
    background-image: url('../img/planetas/mars.jpg');
    background-position: center;
    background-size: 100%;
    box-shadow: inset 0px 0px 5px 5px black;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    z-index: 100;
    display: block;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
    padding: 70px;
    padding-top: 60px;
    border-radius: 500px;
    text-align: center;
    animation-name: rotate;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


/************************* PERSONAL MESSAGES PAGE ***************************/

.personaltable {
    color: white;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    font-size: x-large;
    text-align: center;
    width: 70%;
}

.personaltitles {
    text-align: center;
    font-size: 20px;
    margin-top:10px;
}

.table-hover tbody tr:hover td {
    background: white;
    color: black;
}

.message-title {
    font-size: 25px;
}

.myModalmessage {
    font-size: 25px;
}

.btn-primary {
    margin-left: 45% !important;
    margin-right: 45% !important;
    color: #fff;
    background-color: #4c4d4e;
    border-color: #656a6f;
    vertical-align: top;
    font-size: 25px;
}

#th-leido {
    width: 100px;
}

#th-responder {
    width: 80px;
}

.pointercursor {
    cursor: pointer;
}

.defaultcursor {
    cursor: default;
}

/**++++++++++++++++++++++++++++ PERFIL***************************/

.perfil-panel-title{
  color: black !important;
  text-align: center;
  font-size: 25px;
}

.nav-tabs.nav-justified {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    font-size: 25px;
    font-weight: bold;
}

.musictype {
  font-size: 23px;
  font-weight: bold;
}

.panel-default>.panel-heading {
  border-radius: 5px;
}

.panel-default{
  margin-bottom: 2px;
}
