Options +FollowSymLinks
RewriteEngine On
RewriteBase /MS

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule login  login.php
RewriteRule main  main.php
RewriteRule register  register.php
RewriteRule mpersonal  mpersonal.php
RewriteRule mglobal  mglobal.php
